.site-color-gradient {
    color: linear-gradient(135deg, #1EB2CC, #006EBC);
}

nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #ddd;
}

nav .nav-link:hover {
    color: #ddd;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}