 <!-- Responsive navbar-->
 <nav id="navbar" class="navbar navbar-expand-lg fixed-top" [ngStyle]="{'background': navbarBackground}" style="position: fixed; width: 100%; top: 0; transition: 0.3s;">
  <div class="container px-5">
    <a href="index.html" class="navbar-brand">
      <img src="/assets/img/AlgorStack_logo_svg.svg" height="60" >
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" aria-current="page" href="#banner">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="#services">Our Services</a></li>
              <li class="nav-item"><a class="nav-link" href="#whyus">Why Why?</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- Header-->
<header id="banner" class="banner py-5">
  <div class="container px-5" style="padding-top: 3rem; padding-bottom: 3rem;">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5" data-aos="zoom-in">
                  <h1 class="display-5 fw-bolder text-white mb-2">Present your business in a whole new way</h1>
                  <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a href="#exampleModalToggle" role="button" class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Watch Video</a>
                      <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
