<!-- Responsive navbar-->
<nav id="navbar" #headernav class="navbar navbar-expand-lg fixed-top">
    <div class="container px-5">
        <a href="/" class="navbar-brand text-white">
            <h4 class="fw-bold" style="text-transform: uppercase;">
                <img src="/assets/img/AlgorStack_logo_svg.svg" height="60">
                AlgorStack
            </h4>
        </a>
        <button id="navbar-toggler-button" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="#index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Our Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#whyus">Why Why?</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Vagas</a></li>

            </ul>
        </div>
    </div>
</nav>