<footer class="footer py-4 bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <!-- Website Name -->
      <div class="col-md-4 text-center text-md-start">
        <h4 class="fw-bold" style="text-transform: uppercase;">
          <img src="/assets/img/AlgorStack_logo_svg.svg" height="60" >
          AlgorStack</h4>
      </div>

      <!-- Navigation Links -->
      <div class="col-md-4 text-center">
        <ul class="list-inline mb-0">
          <li class="list-item"><a href="#banner" class="text-white text-decoration-none">Home</a></li>
          <li class="list-item mx-3"><a href="#about" class="text-white text-decoration-none">About Us</a></li>
          <li class="list-item"><a href="#services" class="text-white text-decoration-none">Services</a></li>
          <li class="list-item mx-3"><a href="#whyus" class="text-white text-decoration-none">Why Choose Us</a></li>
          <li class="list-item"><a href="#contact" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media Links -->
      <div class="col-md-4 text-center text-md-end">
        <a href="https://www.facebook.com/profile.php?id=61572397850433" target="_blank" class="text-white me-3">
          <i class="bi bi-facebook fs-3"></i>
        </a>
        <a href="https://www.instagram.com/algorstack/" target="_blank" class="text-white me-3">
          <i class="bi bi-instagram fs-3"></i>
        </a>
        <a href="https://www.linkedin.com/company/algorstack" target="_blank" class="text-white">
          <i class="bi bi-linkedin fs-3"></i>
        </a>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p class="m-0">&copy; 2024 AlgorStack, Lda. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
