<section class="custom-software-section">
    <div class="container">
      <div class="section-title">
        <h2>Custom Software Development Types</h2>
        <p>Explore various custom software solutions tailored for your business needs.</p>
      </div>
      
      <div class="row">
        <div 
          *ngFor="let service of softwareTypes" 
          class="col-md-4" 
        >
          <div class="card custom-card">
            <div class="icon">
              <img [src]="service.icon" [alt]="service.title">
            </div>
            <h4>{{ service.title }}</h4>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  