body {
  font-family: Arial, sans-serif;
}

.navbar{
  background: linear-gradient(135deg, #1EB2CC, #006EBC);
  color: white;
}


.banner {
  background: linear-gradient(135deg, #1EB2CC, #006EBC);
  color: white;
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.floating-illustration {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.footer {
  background: linear-gradient(135deg, #1EB2CC, #006EBC);
  color: white;
  padding: 20px 0;
  text-align: center;
}