body {
  font-family: Arial, sans-serif;
}

.navbar{
  background: linear-gradient(135deg, #1EB2CC, #006EBC);
  color: white;
}

.banner {
  background: linear-gradient(135deg, #1EB2CC, #006EBC);
}

.website-backgroud-gradiente {
  background: linear-gradient(135deg, #1EB2CC, #006EBC) !important; 
}

.btn-gradient{
  background: linear-gradient(135deg, #1EB2CC, #006EBC) !important; 
}

.footer {
  background: linear-gradient(135deg, #1EB2CC, #006EBC);
  color: white;
  padding: 20px 0;
  text-align: center;
}