<section style="margin-top: 100px;" class="pages-section py-5">
    <div class="container">

        <!-- Section Title -->
        <div class="section-title text-center mb-5" data-aos="fade-up" data-aos-delay="200">
            <h2 class="fw-bold">Vision and Mission</h2>
            <p class="text-muted">
                Our commitment is to deliver innovative, reliable, and impactful technology solutions that empower
            businesses and create meaningful change.
            </p>
        </div>

        <!-- No Jobs Available Message with Image -->
        <div class="text-center mb-5" data-aos="fade-up" data-aos-delay="200">
            <div class="circle-container">
            <div class="circle-box vision">
                <div class="circle-icon">
                     <i class="fas fa-eye"></i>
                </div>
                <h3>Vision</h3>
                <p>
                    To be a national and international reference in innovation, quality, and efficiency in the
                    information technology market.
                </p>
            </div>

            <div class="circle-box mission">
                <div class="circle-icon">
                     <i class="fas fa-bullseye"></i>
                </div>
                <h3>Mission</h3>
                <p>
                    To offer innovative technological solutions that add value to our clients’ businesses and drive
                    their digital transformation.
                </p>
            </div>

            <div class="circle-box values">
                <div class="circle-icon">
                     <i class="fas fa-gem"></i>
                </div>
                <h3>Values</h3>
                <p>
                    Innovation, Ethics, Commitment, Quality, Customer Satisfaction, Trust, Personalization,
                    Sustainability, and Social Impact.
                </p>
            </div>
        </div>
        </div>
    </div>
</section>